### Datastructures
Datastructures are the building blocks or raw materials for any programming language.

#### Numbers

In [ ]:
# We are studying now about nos.
# Datastructures are very important for any programming language
# Python has many datastructures

print(int(-13.8))
print(float(5))
a=-354609989897.8097867698678
print(type(a))
print(int(-222222.8))

b=int(a)
print(b)

d= 4+5j
print(type(d)) #This is a complex datatype


c=chr(127) #ASCII
print(c)

In [ ]:
import math

In [ ]:
?math

In [ ]:
print(math.sqrt(144))
print(math.floor(10.7/3))
print(math.pow(16,3))
print(math.factorial(6))
print(round(math.pi,2))
print(math.pi)

In [ ]:
import random as rn
rn.seed(6)
print(rn.random())
print(rn.randint(1,50))
print(rn.uniform(50,100))

x=[1,2,3,4,5,6]
print(rn.choice(x))

#### Strings
Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types.

In [ ]:
letter = 'Pic  '   
# A string could be a single character or a bunch of texts
print(letter)
print(len(letter))

greeting = 'Hello,\'World!\''
# String could be made using a single or double quote,"Hello, World!"
print(greeting)             
print(len(greeting))     

sentence = """I hope its understandable?"""
print(sentence)
print(len(sentence))

sent = '''We are studying Python Programming'''
print(sent)

##### String Concatenation
We can connect strings together. Merging or connecting strings is called concatenation

In [ ]:
first_name = 'Priya'
last_name = 'Saroj'

full_name = first_name +" " + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name))  
print(len(last_name))   
print(len(first_name) > len(last_name)) # False
print(len(full_name)) 
print(full_name + 15)

##### String Replication
The Replication operater is used to repeat a string no. of times. The string will be repeated the number of times which is given by an integer value

In [ ]:
print("Python\t"*3)

In [ ]:
print("New linecode\n"*10)

##### String formatting

In [ ]:
first_name = 'Shravani'
last_name = 'Mehta'
language = 'SQL'
age = 24

print("My name is",first_name,last_name,". I teach ",language,". My age is ",age,".")

new = f'My name is {first_name} {last_name}.\nI teach {language}.\nMy age is {age}.'
print(new)

new_str = "My name is {} {}.I teach {}.My age is {}.".format(last_name,first_name,language,age)
print(new_str)

In [ ]:
a = 5
b = 9
print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) 
# limits it to two digits after decimal

print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

##### Python Strings as Sequences of Characters
Python strings are sequences of characters, and share their basic methods of access with other Python ordered sequences of objects â€“ lists and tuples. The simplest way of extracting single characters from strings (and individual members from any sequence) is to unpack them into corresponding variables.

In [ ]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y

If we want to start from right end we can use negative indexing. -1 at the last index.

In [ ]:
language = 'Python'
last_letter = language[-1]
print(last_letter) 
second_last = language[-2]
print(second_last)

**Slicing Python Strings**  
In python we can slice strings into substrings.

In [ ]:
s = "Programming Language"
print(s[4:6])
print(s[:9])
#print(s[-5:-9])
print(s[-14:-5])
print(s[:6])
print(s[::2]) # step
print(s[:5])
print(s[:])

#### Reversing a String
We can easily reverse strings in python.

In [ ]:
st = "This is the Lecture upon Datastructures"
print(st.reverse())

In [ ]:
language = 'Python is a programming language'
new = language[::-1]
print(new)

In [ ]:
stm = "Where are you from??"
print(stm[::-1])

new = stm[2:11]
print(new)

print(new[::-1])

#### String Methods
There are many string methods which allow us to format strings.

capitalize(): Converts the first character of the string to capital letter

In [ ]:
capital = "beginning of python"
print(capital.capitalize())

In [ ]:
c=capital.title()
print(c)

In [ ]:
c.swapcase()

count(): returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

In [ ]:
capital = "beginning of python"
print(capital.count('g',2,8))
print(capital.count('n'))

isalnum(): Checks alphanumeric character

In [ ]:
capital = "beginning of python"
print(capital.isalnum())

new = 'jsvxubuKbns145dsxHH'
print(new.isalnum())

isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

In [ ]:
capital = "beginning of python"
print(capital.isalpha())

new = 'dwdJJHOOSK'
print(new.isalpha())

islower(): Checks if all alphabet characters in the string are lowercase

In [ ]:
capital = "beginning@ of python1"
print(capital.islower())

isupper(): Checks if all alphabet characters in the string are uppercase

In [ ]:
capital = "Beginning of python"
print(capital.isupper())

replace(): Replaces substring with a given string

In [ ]:
capital = "beginning of python"

In [ ]:
print(capital.replace("python","coding"))

In [ ]:
capital1 = capital.replace("python","coding")
capital1

In [ ]:
st = "I hope its understanding"

print(st.replace("its understanding","you all are not sleeping"))

len() = The len() function returns the length of the string

In [ ]:
s = 'Python 1235Program'
print(len(s))

lower() = The method lower() returns a copy of the string in which all case-based characters has been lowercased.

In [ ]:
l = 'DHGDGCsjkvbl4'
print(l.lower())

upper() = The method upper() returns a copy of the string in which all case-based characters has been uppercased.

In [ ]:
l = 'DHGDGCsjkvbl4'
print(l.upper())

find() : The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [ ]:
capital

In [ ]:
capital.find('on')

In [ ]:
capital.find("x")

index() : The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found.

In [ ]:
capital.index('3')

In [ ]:
capital.index("b")

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Find all of the words in a string that are less than 8 letters  
parah = 'Python is a programming language.Python is interesting."

In [ ]:
parah = 'Python is a programming language. Python is interesting.'
new = parah.split('?')
print(new)

for i in new:
    if len(i)>8:
        print(i)

In [ ]:
parah = 'Python is a programming language.Python is interesting.'

for i in parah.split():
    if len(i)<8:
        print(i)

Count all letters, digits, and special symbols from a given string  
data = "I77oma^26r$t^&i!c5u@s"

In [ ]:
data = "I77oma^26r$t^ &i!c5u@s"
letters=0
digits=0
special_symbols=0

for x in data:
    if x.isalpha():
        letters+=1
    elif x.isdigit():
        digits+=1
    else:
        special_symbols+=1
        
print(f'There are {letters} letters in the string')
print(f'There are {digits} digits in the string')
print(f'There are {special_symbols} special_symbols in the string')

#### List
A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items.

In [2]:
# A list can be created by putting the values inside the square 
#bracket and separated by comma.
list1 = []
print(type(list1))

<class 'list'>

In [3]:
l1=[2,3,4,5,65,7]
print(l1)

[2, 3, 4, 5, 65, 7]

In [5]:
# list supports mixed datatypes.
l2 = [32,56,0.8888,-2,"cat","am",False,(2,4),[34,45]]
print(l2)
print(type(l2))

[32, 56, 0.8888, -2, 'cat', 'am', False, (2, 4), [34, 45]]
<class 'list'>

In [6]:
# lists preserve the order/ the values inside 
#list are arranged in ordered manner.
l3 = ["dfhirbh","6767676",0,56,[34,89,67,56,56,[34,78]]]
print(l3)
type(l3)

['dfhirbh', '6767676', 0, 56, [34, 89, 67, 56, 56, [34, 78]]]

list

### Accessing list Items

In [20]:
l3 = ["dfhirbh","6767676",0,56,[34,89,67,56,56,[34,78]]]
print(l3[1])
print(l3[2:5])
print(l3[-3:-4])
print(l3[1][-4:-1])
print(l3[4][5][-2])

6767676
[0, 56, [34, 89, 67, 56, 56, [34, 78]]]
[]
767
34

In [34]:
l3 = ['name',56,78,89,56,'string']
print(l3[2])
print(l3[-1][0:-1])
#len(l3[2])

print(type(l3[-1]))
print(l3[0][-2])

78
strin
<class 'str'>
m

In [46]:
l5 = [[6,5],7,8,(4,7,8),'string']
print(l5[-2][2:5])
print(l5[-1][-2:-5])

(8,)

In [47]:
l6 = [[4,6,8,[5,8,0,6,[789,78,5]]],"namsdne",67,90.787,68,True,"print"]
print(l6[-2][0:2]) # boolean's do not support nested indexing or indexing

TypeError: 'bool' object is not subscriptable

Adding Python lists ( Concating python lists - connecting lists together)

In [50]:
l1 = [45,89,45,0,[676,90,"ghyhggfgh"]]
l2 = [45,8.0,89,89]

l3 = l1+l2
print(l3)

[45, 89, 45, 0, [676, 90, 'ghyhggfgh'], 45, 8.0, 89, 89]

In [51]:
l1

[45, 89, 45, 0, [676, 90, 'ghyhggfgh']]

In [52]:
value = "x"

In [53]:
value = ["x"]

In [57]:
value=list("x")
print(value)
type(value)

l1 = l1+value
print(l1)

['x']
[45, 89, 45, 0, [676, 90, 'ghyhggfgh'], 'x']

#### Updating list

In [61]:
list3 = [4, 7, 7, 90, 'abc', 'the', 'x'] 
# lists allow repetative values
list3[1]=10    #item assignment
list3[-1]="abc"
# this shows lists are mutable in nature.

In [62]:
list3

[4, 10, 7, 90, 'abc', 'the', 'abc']

In [65]:
list3[3]=(34,45,23,34,67,9)

# lists support item assignment

In [67]:
list3

[4, 10, 7, (34, 45, 23, 34, 67, 9), 'abc', 'the', 'abc']

In [66]:
list3[3][2]="am"
print(list3)

TypeError: 'tuple' object does not support item assignment

### Deleting Elements
del statement can be used to delete an element from the list . It can also be used to delete all items from start index to endindex

In [68]:
list3

[4, 10, 7, (34, 45, 23, 34, 67, 9), 'abc', 'the', 'abc']

In [69]:
del(list3[2])

In [70]:
list3

[4, 10, (34, 45, 23, 34, 67, 9), 'abc', 'the', 'abc']

In [74]:
del list3[3]

#### List Methods
append() method which is used to append i.e., add an element (single/one element) at the end of the existing elements

In [75]:
l1=[45,67,77,9,"dgdj","cat","am"]

In [77]:
l1.append(2)

In [79]:
l1.append("Jagruti")
l1

[45, 67, 77, 9, 'dgdj', 'cat', 'am', 2, 'Jagruti']

In [80]:
l1.append([3,7,0])
l1

[45, 67, 77, 9, 'dgdj', 'cat', 'am', 2, 'Jagruti', [3, 7, 0]]

In [82]:
l1[-2].append({3,5,6})
l1

AttributeError: 'str' object has no attribute 'append'

count() = The count () method returns count of many times the value occurs in list

In [83]:
l1

[45, 67, 77, 9, 'dgdj', 'cat', 'am', 2, 'Jagruti', [3, 7, 0, {3, 5, 6}]]

In [85]:
l1[-1][-1].count(6)

AttributeError: 'set' object has no attribute 'count'

In [86]:
l1.count(77)

1

In [91]:
l1[8].count("a")

1

In [ ]:
l1[-2].count(3)

max() = The max() method returns the elements from the list with maximum value

In [92]:
l1

[45, 67, 77, 9, 'dgdj', 'cat', 'am', 2, 'Jagruti', [3, 7, 0, {3, 5, 6}]]

In [93]:
max(l1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [94]:
l2 = [34,5,6,7,7,8,8,0,-56]
max(l2)

34

extend() = The extend() method appends the contents of sequence to list/
It adds multiple elements at the end of list

In [95]:
l_1 = [56,90,78,0.8888,45]

In [96]:
l_1.append("python")

In [97]:
l_1

[56, 90, 78, 0.8888, 45, 'python']

In [99]:
l_1.extend([2,3])

In [100]:
l_1

[56, 90, 78, 0.8888, 45, 'python', 2, 3]

In [102]:
for i in "python":
    l_1.append(i)
    print(l_1)

[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p']
[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y']
[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y', 't']
[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y', 't', 'h']
[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y', 't', 'h', 'o']
[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y', 't', 'h', 'o', 'n']

In [104]:
l_1.extend((2,4,6,8,9,0))
print(l_1)

[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y', 't', 'h', 'o', 'n', 2, 4, 6, 8, 9, 0, 2, 4, 6, 8, 9, 0]

index() = The index() method returns the lowest index in the list

In [106]:
print(l_1)

[56, 90, 78, 0.8888, 45, 'python', 2, 3, 3, 4, 5, 'p', 'y', 't', 'h', 'o', 'n', 2, 4, 6, 8, 9, 0, 2, 4, 6, 8, 9, 0]

In [111]:
l_1.index("Python")

ValueError: 'Python' is not in list

In [109]:
l_1.find(10)

AttributeError: 'list' object has no attribute 'find'

insert() = the insert() method inserts values at index position

In [116]:
l2 = [56,78,90,465,76]
l2.insert(2,100)
l2.index(90)

3

In [113]:
l2[2]=100
l2

[56, 78, 100, 465, 76]

In [117]:
l2.insert(3,{33,33,33})
l2

[56, 78, 100, {33}, 90, 465, 76]

pop() = the pop() method removes & returns last object or obj from the list.

In [119]:
l2.pop()

76

In [121]:
l2.pop(3)

{33}

In [122]:
l2

[56, 78, 100, 90, 465]

sort() = The sort() method sorts values of list, but type of elements in list should be same otherwise compiler throw typeError

In [126]:
l2.extend([34,8,0,2,1])
l2

[56, 78, 90, 100, 465, 34, 8, 0, 2, 1]

In [127]:
l2.sort()

In [128]:
l2

[0, 1, 2, 8, 34, 56, 78, 90, 100, 465]

In [129]:
l2.sort(reverse=True)
l2

[465, 100, 90, 78, 56, 34, 8, 2, 1, 0]

reverse() : reverse method helps to reverse the existing list

In [134]:
l2.reverse()
l2

[465, 100, 90, 78, 56, 34, 8, 2, 1, 0]

In [135]:
print(l2[::-1])
l2

[0, 1, 2, 8, 34, 56, 78, 90, 100, 465]

[465, 100, 90, 78, 56, 34, 8, 2, 1, 0]

Write a program to remove the item present at last index position and add it to the 5th position and at the end of the list  
num = [45,12,78,23,90,56,45,67]

In [136]:
num = [45,12,78,23,90,56,45,67]

In [137]:
del_num = num.pop()

In [138]:
num.insert(5,del_num)
num.append(del_num)
num

[45, 12, 78, 23, 90, 67, 56, 45, 67]

Extend nested list by adding the sublist  
l1 = [3,6,6,9,[0,1,-3,[2,6]],6,8]

In [139]:
l1 = [3,6,6,9,[0,1,-3,[2,6]],6,8]

In [140]:
l2=[4,6,8]

l1[4][3].extend(l2)
l1

[3, 6, 6, 9, [0, 1, -3, [2, 6, 4, 6, 8]], 6, 8]

### Tuples
A tuple is a collection of different data types which is ordered and unchangeable (immutable). Tuples are written with round brackets, (). Once a tuple is created, we cannot change its values. We cannot use add, insert, remove methods in a tuple because it is not modifiable (immutable).

#### Creating a Tuple

In [143]:
# Creating a empty tuples
t1=()
print(t1)
type(t1)

()

tuple

In [145]:
#Creating a tuple with 1 element
t2 = (3,)
print(t2)
type(t2)

(3,)

tuple

In [148]:
# Tuples support mixed data type
t3 = (45,[5,6],78,90,66,"hihkmhk",(4,6,7,5)) # preserve order
print(t3)
type(t3)

(45, [5, 6], 78, 90, 66, 'hihkmhk', (4, 6, 7, 5))

tuple

In [149]:
# Allows repeated data
t4 = (45,45,8798,0,54,45,7,4,3,6,2)
print(t4)

(45, 45, 8798, 0, 54, 45, 7, 4, 3, 6, 2)

#### Tuple length
len() function will be used to find out the length of the tuple

In [150]:
t5 = (45,56,34,6,7,7,8,8, 9,"243546","etgfdgrdfef")
print(len(t5))

11

In [153]:
print(len(t5[-3]))

TypeError: object of type 'int' has no len()

#### Accessing Tuple Items

In [154]:
t6 = (45,78,90,56,56,45,89,3)

In [164]:
print(t6[7])
print(t6[3])
print(t6[-2])
print(t6[-5])
print(t6[4:7])
print(t6[-3:-5])
print(t6[-7:-2:3])

3
56
89
56
(56, 45, 89)
()
(78, 56)

In [165]:
t7 = (34,56,[45,78,89,0],"sytrehjdb",(5,3,4,5,(34,56,67,7)))

In [175]:
print(t7[2])
print(t7[-2])
print(t7[3][2:7])
print(t7[-1][4][::-1])

[45, 78, 89, 0]
sytrehjdb
trehj
(7, 67, 56, 34)

#### Reversing of tuple

In [176]:
t8 = (56,79,45,"bbhh","gjgjgb")
t8.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [177]:
t8[::-1]

('gjgjgb', 'bbhh', 45, 79, 56)

In [179]:
t8

(56, 79, 45, 'bbhh', 'gjgjgb')

In [178]:
for x in t8[::-1]:
    print(x)

gjgjgb
bbhh
45
79
56

In [180]:
t9=()

for i in t8[::-1]:
    t9.append(i)
    
print(t9)

AttributeError: 'tuple' object has no attribute 'append'

In [182]:
t9=[]

for i in t8[::-1]:
    t9.append(i)
    
print(t9)

['gjgjgb', 'bbhh', 45, 79, 56]

In [186]:
t10 = (56,6,7,8,9,4,3,3,3,90)
even = []
odd = []
others = []

for i in t10:
    if i%2==0:
        even.append(i)
    elif i%2!=0:
        odd.append(i)
    else:
        others.append(i)

print(even)
print(odd)
print(others)

[56, 6, 8, 4, 90]
[7, 9, 3, 3, 3]
[]

In [187]:
t_1 = list(t9)

#### Replicating tuples

In [193]:
t9*3

['gjgjgb',
 'bbhh',
 45,
 79,
 56,
 'gjgjgb',
 'bbhh',
 45,
 79,
 56,
 'gjgjgb',
 'bbhh',
 45,
 79,
 56]

In [192]:
print(t10*2)

(56, 6, 7, 8, 9, 4, 3, 3, 3, 90, 56, 6, 7, 8, 9, 4, 3, 3, 3, 90)

#### Updating tuples
Tuples are immutable in nature which means you cannot update or change values of tuple elements.

In [195]:
t10 = (56,6,7,8,9,4,3,3,3,90)
t10[1]=11

TypeError: 'tuple' object does not support item assignment

#### Deleting tuple elements
Removing individual tuple elements is not possible.

In [197]:
t10 = (56,6,7,8,9,4,3,3,3,90)
del t10

In [198]:
print(t10)

NameError: name 't10' is not defined

### Sets
Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the union, intersection, difference among sets.

In [199]:
set1 = {}
print(set1)
type(set1)

{}

dict

In [202]:
set2 = set(set1)
print(set2)
type(set2)

set()

set

In [205]:
# to add a single element inside a set
set1 = {2}
print(set1)
type(set1)

{2}

set

In [210]:
# add multiple elements inside a set.
set2 = {3,4,7,7,8,9,0,5,7,7,6,-3}
# allows on ly distinct elements
print(set2)

{0, 3, 4, 5, 6, 7, 8, 9, -3}

In [208]:
set3 = {56,89,0,-2,34,3,4,6}
print(set3)
# does not preserve the order (unordered in nature)

{0, 34, 3, 4, 6, 56, 89, -2}

In [213]:
# set allow mixed datatypes
set4 = {45,56,45,45,45,6.898,"abc",(3,4,5)}
print(set4)

{'abc', (3, 4, 5), 6.898, 56, 45}

In [219]:
set5 = {44,5,5,6,3,4,4,45}
print(set5)

print(set5[1])
# sets do not support indexing (un-indexed in nature)

{3, 4, 5, 6, 44, 45}

TypeError: 'set' object is not subscriptable

In [220]:
# sets are mutuable in nature
set4 = {56,5,6,7,7,8,98,9,0,4,45,5,3}
set4.add(10)
print(set4)

{0, 98, 3, 4, 5, 6, 7, 8, 9, 10, 45, 56}

In [223]:
set4.add((12,13)) # add only adds 1 element into your sets
set4

{(12, 13), 0, 10, 3, 4, 45, 5, 56, 6, 7, 8, 9, 98}

In [225]:
set4.update((100,-2,77)) # it adds multiple elements in the sets
set4

{(12, 13), -2, 0, 10, 100, 3, 4, 45, 5, 56, 6, 7, 77, 8, 9, 98}

In [230]:
set4.update("python")
print(set4)

{3, 4, 5, 6, 7, 8, 9, 10, (12, 13), 'n', 45, 't', 56, 'o', 77, 'p', 'y', 'h', 98, 100, -2}

In [234]:
set4.remove(5) # remove if the element is found in sequence it will remove
# or if the element is not found it will throw an error
print(set4)

{3, 4, 6, 7, 9, 10, (12, 13), 'n', 45, 't', 56, 'o', 77, 'p', 'y', 'h', 98, 100, -2}

In [251]:
set4.remove((6,10))

KeyError: (6, 10)

In [250]:
set4.discard((6,10))
print(set4)

{3, 4, 6, 7, 9, 10, (12, 13), 'n', 45, 't', 56, 'o', 'p', 'y', 'h', 98, 100, -2}

In [255]:
x = ["p","y",-2,101]

for i in x:
    if i in set4:
        set4.remove(i)
        
print(set4)

{3, 7, 9, (12, 13), 'n', 45, 't', 56, 'o', 'h', 98}

In [256]:
A = [3,4,5,6,6,7,7,8,8,89,9,9]
B = [4,5,6,6,6,6,6,6,6,6,2,2,3,3,40,9,90]
print(A)
print(B)

[3, 4, 5, 6, 6, 7, 7, 8, 8, 89, 9, 9]
[4, 5, 6, 6, 6, 6, 6, 6, 6, 6, 2, 2, 3, 3, 40, 9, 90]

In [257]:
setA = set(A)
setB = set(B)
print(setA)
print(setB)

{3, 4, 5, 6, 7, 8, 9, 89}
{2, 3, 4, 5, 6, 40, 9, 90}

In [260]:
# Union - Combines all the values from the given sets
print(setA.union(setB))
setA | setB     #OR

{2, 3, 4, 5, 6, 7, 8, 9, 40, 89, 90}

{2, 3, 4, 5, 6, 7, 8, 9, 40, 89, 90}

In [264]:
#Intersection - Intersection will only takes common values btw the given sets
print(setA.intersection(setB))
print(setA & setB)    # AND

{3, 4, 5, 6, 9}

{3, 4, 5, 6, 9}

In [269]:
#Difference-Difference will take only those values present in 1 particular set
print(setA.difference(setB))
print(setB.difference(setA))

print(setA-setB)
print(setB-setA)

{8, 89, 7}
{40, 2, 90}
{8, 89, 7}
{40, 2, 90}

### Dictionaries
Dictionary is a set of Key & value pair. It is a container that contains data, enclosed within curly braces.The pair i.e., key and value is known as item. The key passed in the item must be unique.

In [294]:
#Creating a dictionary
my_d1={1:'A',2:'B'}
print(my_d1)

my_d2={"name":["John","Eric","Alex"],"ID":[2,4,6],
       "Marks":[34,45,38],
       "Marks":[36,43,39],"random":[2,4,6]}
print(my_d2)

#print(my_d2[0])
print(my_d2['Marks'][0])
print(my_d2['ID'][-2])  # key indexing

{1: 'A', 2: 'B'}
{'name': ['John', 'Eric', 'Alex'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 4, 6]}
36
4

In [289]:
import pandas as pd
data = pd.DataFrame(my_d2)
data

   name  ID  Marks  random
0  John   2     36       2
1  Eric   4     43       4
2  Alex   6     39       6

In [290]:
my_d={"Name":"Eric","age":27}
my_d['age']=25
print(my_d)

my_d['address']='Mumbai'
print(my_d)

{'Name': 'Eric', 'age': 25}
{'Name': 'Eric', 'age': 25, 'address': 'Mumbai'}

In [291]:
my_d2

{'name': ['John', 'Eric', 'Alex'],
 'ID': [2, 4, 6],
 'Marks': [36, 43, 39],
 'random': [2, 4, 6]}

In [295]:
del my_d2["name"][2]
print(my_d2)

{'name': ['John', 'Eric'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 4, 6]}

In [296]:
del my_d2["random"][-2]
my_d2

{'name': ['John', 'Eric'],
 'ID': [2, 4, 6],
 'Marks': [36, 43, 39],
 'random': [2, 6]}

In [299]:
my_d2["name"][0]="Hitesh"
print(my_d2)
my_d2['name'].append('Sam')
print(my_d2)

{'name': ['Hitesh', 'Eric'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 6]}
{'name': ['Hitesh', 'Eric', 'Sam'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 6]}

In [300]:
my_d2['name'].insert(2,"Roy")
my_d2

{'name': ['Hitesh', 'Eric', 'Roy', 'Sam'],
 'ID': [2, 4, 6],
 'Marks': [36, 43, 39],
 'random': [2, 6]}

clear() : The clear() method removes all items from the dictionary

In [301]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}

dict1.clear()
print(dict1)

{}

copy() : The copy() method returns the copy of the dictionary

In [302]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}
dict2 = dict1.copy()
print(dict2)

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

items() : The method items() returns a list of items(key,value) tuple pairs

In [303]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}

In [305]:
print(dict1.items())
len(dict1)

dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

4

keys() : The method keys() returns a list of all the available keys in the dictionary.

In [306]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}
dict1.keys()

dict_keys([1, 2, 3, 4])

values() : The method values() returns a list of all the values available in the given dictionary

In [307]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}
dict1.values()

dict_values(['Python', 'Java', 'C++', 'PHP'])