### Variable
Variable is an identifier which holds some value.Variables refers data in a computer memory.  
Python Variable Name Rules:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* A variable name cannot contain any special character except underscore(_).
* Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
* Variable name cannot be with an in-built keyword

In [1]:
# RULE1
name = "Jagruti"
print(name)

_lastname = "Pawashe"
print(_lastname)

Jagruti
Pawashe

In [2]:
name     #REPL

'Jagruti'

In [3]:
# RULE2
1number = 1
print(1number)

SyntaxError: invalid decimal literal (1302796640.py, line 2)

In [4]:
numb_1 = 1
print(numb_1)

1

In [5]:
#RULE3
full_name = "Jagruti Pawashe"
print(full_name)

Jagruti Pawashe

In [6]:
#RULE5
email@ = "jagruti.pawashe@imarticus.com"
print(email@)

SyntaxError: invalid syntax (2363943573.py, line 2)

In [8]:
# RULE6
firstname = "RIYA"
print(firstname)
Firstname = "ERIC"
print(Firstname)

RIYA
ERIC

In [ ]:
# RULE7
in = 34
print(in)

SyntaxError: invalid syntax (616094811.py, line 2)

In [9]:
#multiple variable assignment
name , age , city = "Jagruti", 25 , "Mumbai"
print(type(name))
print(age)
print(city)

<class 'str'>
25
Mumbai

In [10]:
a=b=c=500
print(a)
print(b)
print(c)

500
500
500

When the Python itself automatically considers the data type of the values it is said to be 'implicit' in nature.
When the programmers specifies what kind of data to be present in the variables then it is said to be 'explicit' in nature.

In [5]:
num1 = 55
#type(num1)
print(type(float(num1)))

<class 'float'>

In [12]:
num2 = "1"
print(type(num2))
print(int(num2))

<class 'str'>
1

In [13]:
print("Hello World!")

Hello World!

### Built-in functions -
In python there are some pre-defined code logics to perform some specific task.

In [14]:
value = False
type(value)

bool

In [15]:
number = "9969069"
print(type(number))
new = int(number)
print(new)
type(new)

<class 'str'>
9969069

int

In [ ]:
firstname = input("Enter your firstname: ")
lastname = input("Enter your lastname: ")

fullname = firstname +' '+ lastname
print("The full name is,",fullname)

Enter your firstname: Eric
Enter your lastname: Macwan
The full name is, Eric Macwan

In [ ]:
num1 = int(input("Enter your 1st no:"))
print(type(num1))
num2 = int(input("Enter your 2nd no: "))
add = num1 + num2
print(add)

Enter your 1st no:45
<class 'int'>
Enter your 2nd no: 56
101

In [ ]:
side1 = int(input("Enter Side1: "))
side2 = int(input("Enter Side2: "))
side3 = int(input("Enter Side3: "))

perimeter = side1+side2+side3
print(perimeter)

Enter Side1: 45
Enter Side2: 10
Enter Side3: 10
65