Operators - Operators are use to perform operations on variables & values  
Assignment operators - use to assign values to variables.

In [1]:
#Asssigning the value to a variable always happens with "="
a = 45
print(a)

a="am"
print(a)

45
am

In [2]:
x=5

In [3]:
x=x+2
print(x)

7

In [4]:
x+=2
print(x)

9

In [6]:
b=100
b

100

In [7]:
b=b-10
print(b)

90

In [8]:
b-=10
print(b)

80

In [9]:
x=2

In [10]:
x*=2
print(x)

4

Arithmetic operators(mathematical operators) - Operations will be based upon the mathematical tasks like addition, substraction , multiplication,etc.

In [11]:
print(6+7)  #addition
print(3-2)   #subtraction
print(4*4)   #multiplication
print(10/4)   #division
print(10//4)   #floor division
print(10%6)   #modulus operator
print(10**4)  #power

13
1
16
2.5
2
4
10000

In [12]:
a=10
b=40

In [13]:
add = a+b
print(add)

sub = a-b
print(sub)

mul = a*b
print(mul)

div = a/b
print(div)

50
-30
400
0.25

Relational Operators - Relational Operators try to built up some relationship between the values Or variables.

In [14]:
# Relational Operator
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print()
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False
print(len('alphabet'))

True
True
False
True
True
False
True

False
True
True
False
True
True
False
8

In [1]:
name="hhsiehdf"
print(name)

hhsiehdf

Logic Operator - Logical operators have 'and',' or ', 'not'

In [16]:
x=5
y=6
z=10

In [17]:
print(x!=2 and y<=4 and z==10)

False

In [18]:
print(x>=3 or y==4 or z!=10)

True

In [19]:
print(not x!=3)

False

In [20]:
value1=True
value2=False

print(value1 or value2)

True

Identity Operators - They try to check if the variables are identical or not

is - TRUE when both the variables have same values  
is not - TRUE if both the variables do not same values

In [21]:
a='10'
b=15

x=10
y=10

print(a==x)

False

In [22]:
print(a is not b)
print(x is not a)
print(x is y)
print(x is b)

True
True
True
False

Membership Operator - Try to find the values used are part or members of particular sequence(list,tuples,dictionaries,sets,strings)

in - TRUE when the values or variable is a part of the sequence  
not in - TRUE when the values or variables are not part of the sequence

In [23]:
name = "riya Joshi"
print("x" in name)

False

In [24]:
l1 = [34,56,78,890,0]

print(34 in l1)
print(890 not in l1)

True
False

### Conditional statements
In Python, Conditional statements are used to test specified condition or given set of conditions

In [116]:
#If-statement

marks = 80
if marks>40:
    print("You have passed the test")

You have passed the test

In [4]:
age = int(input("Enter your age: "))

if age>=18:
    print("Eligible!")

Enter your age: 19
Eligible!

In [29]:
#If-else statements

marks = int(input("Enter your marks: "))

if marks > 40:
    print("You are passing the test")
else:
    print("You are failing the test")

Enter your marks: 41
You are passing the test

In [25]:
scores = int(input("Enter your scores: "))
if (scores>=30) and (scores <=80):
    print("The score is in given range")
else:
    print("The score is out of range")

Enter your scores: 59
The score is in given range

In [32]:
num = int(input("Enter your no.: "))

if num%2==0:
    print("It's an even number")
else:
    print("The number is odd")

Enter your no.: 56
It's an even number

In [37]:
#IF-Elif-Elif-Else Statement
marks = int(input("Enter the marks: "))

if marks >= 80:
    print("Grade 'A'")
elif marks >=65:
    print("Grade 'B'")
elif marks >= 55:
    print("Grade 'C'")
else:
    print("Grade 'D'")

Enter the marks: 54
Grade 'D'

In [41]:
Salary = int(input("Enter your Salary: "))

if Salary > 700000:
    print("The person belongs to 1st Salary bracket")
elif Salary > 500000:
    print("The person belongs to 2nd Salary bracket")
elif Salary > 300000:
    print("The person belongs to 3rd Salary bracket")
else:
    print("The person belongs to 4th Salary bracket")

Enter your Salary: 670000
The person belongs to 2nd Salary bracket

In [43]:
#Nested If-else
x=0
y=30

if x>y:
    if x>60:
        print("x is greater")
    else:
        print("x is not greater than 60")
else:
    if y>30:
        print("y is greater")
    else:
        print("y is not greater than 30")

y is not greater than 30

In [148]:
a=10
b=30

if a<b:
    print("A is less than B")
else:
    if a==b:
        print("A is equals to B")
    else:
        print("A is not equals to B")

A is less than B