### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [1]:
flowers = ["lotus","rose","lily","daisy","iris"]

In [2]:
new_list = flowers
print(new_list)

['lotus', 'rose', 'lily', 'daisy', 'iris']

In [6]:
new = []

for i in flowers:
    if i!="lily":
        new.append(i)
print(new)

['lotus', 'rose', 'daisy', 'iris']

In [33]:
fl = [i.upper() for i in flowers if i!="lily"]
fl

['LOTUS', 'ROSE', 'DAISY', 'IRIS']

[expression for item in iteration ]

In [10]:
#mylist=[expression for item in iteration]
flowers=["lotus","rose","lily","daisy","iris"]
new = [i.capitalize() for i in flowers if i!="lily"]
new

['Lotus', 'Rose', 'Daisy', 'Iris']

In [15]:
flowers=["lotus","rose","lily","daisy","iris"]
mylist=[]
for x in flowers:
    if "s" in x:
        mylist.append(x)
        
mylist

new1 = [x for x in flowers if "s" in x]
new1

['lotus', 'rose', 'daisy', 'iris']

In [5]:
#mylist = [expression for item in iterable if condition == True]
flowers=["lotus","rose","lily","daisy","iris"]
mylist=[x for x in flowers if "i" in x]
print(mylist)

['lily', 'daisy', 'iris']

In [17]:
list1 = list(range(2,21))
print(list1)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
list2 = [no for no in range(2,21)]
list2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
list3 = [no for no in range(2,21,3)]
list3

[2, 5, 8, 11, 14, 17, 20]

In [23]:
new = []
for i in range(1,25):
    if (i%4==0) and (i%6==0):
        new.append(i)
new

[12, 24]

In [25]:
mylist=[i for i in range(1,25) if (i%4==0) or (i%6==0)]
print(mylist)

[4, 6, 8, 12, 16, 18, 20, 24]

In [26]:
mylist=[x.upper() for x in flowers]
print(mylist)

['LOTUS', 'ROSE', 'LILY', 'DAISY', 'IRIS']

In [29]:
new = []
for i in flowers:
    if i!="lily":
        new.append(i)
    else:
        new.append("Sunflower")
new

['lotus', 'rose', 'Sunflower', 'daisy', 'iris']

In [28]:
mylist=[x if x !="lily" else "sunflower" for x in flowers]
print(mylist)

['lotus', 'rose', 'sunflower', 'daisy', 'iris']

In [10]:
mylist = [x for x in range(1,101) if x%2==0]
#finding even numbers between 1 to 100 using list comprehension
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [36]:
for i in range(1,101):
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [38]:
mylist=[print(x,"is even") if x%2==0 else
        print(x,"is odd") for x in range(1,101)]
mylist

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [12]:
num = [x for x in range(1, 51) if x % 2 == 0 and x % 5 == 0]
print(num)

[10, 20, 30, 40, 50]

In [45]:
fruits = ["apple", "banana", "avocado", "mango", "pine-apple"]
length = []

for word in fruits:
    length.append(len(word))
    print(length)

[5]
[5, 6]
[5, 6, 7]
[5, 6, 7, 5]
[5, 6, 7, 5, 10]

In [46]:
fruits = ["apple", "banana", "avocado", "mango", "pine-apple"]
length = [len(word) for word in fruits]
print(length)

[5, 6, 7, 5, 10]

In [48]:
def new_f(l1):
    new=[]
    for i in l1:
        new.append(i*2)
    print(new)

In [50]:
new_f(fruits)

['appleapple', 'bananabanana', 'avocadoavocado', 'mangomango', 'pine-applepine-apple']

In [47]:
len(fruits)

5

#### Higher-order functions -
This functions are called as higher order functions because they include some functions as there arguments

* Map , Filter and reduce

#### Map:
map() is a built-in function in Python that is often used in combination with lambda functions. It allows you to apply a given function to each element of an iterable (such as a list, tuple, or string), and returns a new iterable containing the results.

map(function, iterable)

In [62]:
# Map
# User defined function for doubling the arguments
def doubled(x):
    return x*x

In [63]:
print(doubled(5))

25

In [64]:
l1 = [3,6,5,5,9,0,9,1]
doub = []

for i in l1:
    doub.append(doubled(i))
print(doub)

[9, 36, 25, 25, 81, 0, 81, 1]

In [65]:
dou = [doubled(i) for i in l1]
dou

[9, 36, 25, 25, 81, 0, 81, 1]

In [67]:
new = list(map(doubled,l1))
new

[9, 36, 25, 25, 81, 0, 81, 1]

In [69]:
l2 = [23,90,0,-6,56,9,33,"abc"]

new1 = list(map(doubled,l2))
new1

TypeError: can't multiply sequence by non-int of type 'str'

In [70]:
c = lambda x: x*2
c(79)

158

In [72]:
new = list(map(lambda x: x*2,l1))
new

[6, 12, 10, 10, 18, 0, 18, 2]

In [73]:
n1 = list(map(c,l2))
n1

[46, 180, 0, -12, 112, 18, 66, 'abcabc']

In [8]:
new_lambda = list(map(lambda x: x*x,l1))
print(new_lambda)

[9, 36, 25, 25, 81, 0, 81, 1]

### Filter:
filter() is another built-in function in Python that is often used in combination with lambda functions. It allows you to filter elements from an iterable (such as a list, tuple, or string) based on a given condition, and returns a new iterable containing only the elements that satisfy the condition.

In [80]:
# filtering the values
list2 = [56,89,90,45,7,45,80]
l4 = []

for i in list2:
    if i%5==0 and i%10==0:
        l4.append(i)
print(l4)

[90, 80]

In [79]:
l5 = [i for i in list2 if i%5==0 and i%10==0]
l5

[90, 80]

In [84]:
new_list = list(filter(lambda i : i%3==0 or i%10==0,list2))
new_list

[90, 45, 45, 80]

In [87]:
def ev_no(l):
    l1 = []
    for i in l:
        if i>0:
            if i%2==0:
                l1.append(i)
    print(l1)

In [88]:
ev_no(numbers)

[56, 6]

In [96]:
no=numbers

In [98]:
new = filter(ev_no,no)
print(new)

<filter object at 0x000001D49D947010>

In [99]:
numbers = [56,89,67,0,6,77,91,67,5,23]
even_no = filter(lambda x: x % 2 == 0, numbers)

print(list(even_no))

[56, 0, 6]

reduce:
reduce() is a function from the functools package in Python that can be used in combination with lambda functions to repeatedly apply a given function to the elements of an iterable (such as a list, tuple, or string) in a cumulative way, reducing the iterable to a single value.

In [100]:
from functools import reduce

In [106]:
l2 = [3,7,9,4,5,8]

cum_sum = reduce(lambda x,y:x/y,l2)
cum_sum

0.0002976190476190476