### Data Preprocessing
Data preprocessing is a crucial step in the data preparation process for analysis or modeling. It involves a series of operations and techniques applied to raw or collected data to transform it into a format that is suitable for further analysis. The main goals of data preprocessing are to clean the data, handle missing values, deal with outliers, and prepare the data in a way that makes it ready for modeling or analysis.

1. **Data Cleaning:**
   - Removing or correcting inaccurate or inconsistent data.
   - Handling duplicate records or entries.
   - Standardizing data formats and values.

2. **Handling Missing Data:**
   - Identifying and handling missing values, which can involve imputation (replacing missing values with estimated values) or removal of rows or columns with excessive missing data.

3. **Data Transformation:**
   - Encoding categorical variables into numerical format, often using techniques like one-hot encoding or label encoding.
   - Scaling or normalizing numerical features to bring them to a common scale.
   - Logarithmic or power transformations to address data skewness.

4. **Handling Outliers:**
   - Identifying and addressing outliers, which can involve removing or transforming extreme values.

5. **Feature Engineering:**
   - Creating new features based on domain knowledge or insights from the data.
   - Reducing dimensionality through techniques like Principal Component Analysis (PCA).

6. **Data Reduction:**
   - Reducing the size of the dataset while preserving its essential characteristics, often through techniques like sampling or aggregation.

7. **Data Integration:**
   - Combining data from multiple sources into a single dataset.

8. **Data Formatting:**
   - Ensuring that the data is in the correct data types (e.g., dates are in date format) and has consistent units.

9. **Data Splitting:**
   - Splitting the data into training, validation, and test sets for machine learning tasks.

10. **Handling Imbalanced Data:**
    - Addressing class imbalance in classification problems through techniques like oversampling, undersampling, or using synthetic data generation methods.

### What is EDA?
EDA stands for Exploratory Data Analysis. It is an approach to data analysis that focuses on summarizing and visualizing data to better understand its underlying structure, patterns, and relationships. EDA is typically one of the first steps in the data analysis process and is used to gain insights into the data before more advanced statistical or machine learning techniques are applied.

Key objectives of EDA include:

1. **Data Summarization**: EDA involves calculating summary statistics such as mean, median, variance, and percentiles to get a basic understanding of the data's central tendencies and spread.

2. **Data Visualization**: Visualization techniques, such as histograms, scatter plots, box plots, and heatmaps, are used to visually represent the data. These visualizations can reveal patterns, trends, outliers, and potential issues in the data.

3. **Data Cleaning**: EDA often highlights missing data, duplicate records, and outliers, which may require data cleaning or preprocessing before further analysis.

4. **Pattern Discovery**: Analysts use EDA to discover patterns, correlations, and relationships within the data. This can involve identifying clusters, trends, or anomalies that may inform subsequent analysis.

5. **Hypothesis Generation**: EDA can help generate hypotheses about the data, which can be tested using statistical methods or machine learning techniques.

6. **Data Exploration**: EDA encourages the exploration of data from various angles and perspectives to gain a comprehensive understanding of its characteristics.

EDA is a crucial step in the data analysis process as it helps analysts and data scientists make informed decisions about how to proceed with data modeling, hypothesis testing, or other more advanced analytical tasks. It allows them to uncover valuable insights, identify data quality issues, and develop a deeper familiarity with the dataset they are working with.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#helps to display all columns as well as rows while handling the data

pd.set_option("display.max_columns",None)
#pd.set_option("display.max_rows",None)

In [4]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [8]:
#titatanic database
import pandas as pd
titanic_df=pd.read_excel(r'/content/drive/MyDrive/PGA24/Python/Datasets/Titanic_Survival_Train.xls',index_col=0)
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
#for getting first 5 rows from the dataset(most commonly used function)

titanic_df.head()
#titanic_df

#input values
titanic_df.head(15)
#titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [15]:
#for last 5 values from data

titanic_df.tail()
#titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

The shape returns the number of rows and columns of the DataFrame.

In [16]:
titanic_df.shape

(891, 11)

The info() method prints information about the DataFrame.

The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values).

In [17]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

The dtypes property returns data type of each column in the DataFrame.

In [18]:
titanic_df.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

The describe() method returns description of the data in the DataFrame.

If the DataFrame contains numerical data, the description contains these information for each column:

count - The number of not-empty values.  
mean - The average (mean) value.  
std - The standard deviation.  
min - the minimum value.   
25% - The 25% percentile.  
50% - The 50% percentile.  
75% - The 75% percentile.  
max - the maximum value.  

By default all the columns which contains numerical data are included in the output. To consider or get the description of the object/string data you have to provide "include=all" as an argument in the method.

In [19]:
#describe=descriptive statistics
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
titanic_df.describe(include='all')

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891.0,891.000000,204,889
unique,NaN,NaN,891,2,NaN,NaN,NaN,681.0,NaN,147,3
top,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082.0,NaN,B96 B98,S
freq,NaN,NaN,1,577,NaN,NaN,NaN,7.0,NaN,4,644
mean,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [21]:
titanic_df.Sex.describe()

count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object

In [22]:
titanic_df.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [23]:
titanic_df.Age.mean()

29.69911764705882

In [24]:
titanic_df.Age.median()

28.0

In [25]:
titanic_df.Age.quantile(0.25)

20.125

In [26]:
titanic_df.Sex.mode()

0    male
Name: Sex, dtype: object

In [27]:
titanic_df["Age"].mean()

29.69911764705882

In [28]:
titanic_df.Cabin.mode()

0        B96 B98
1    C23 C25 C27
2             G6
Name: Cabin, dtype: object

In [ ]:
titanic_df.Cabin.value_counts()

In [ ]:
#titanic_df.boxplot()
import matplotlib.pyplot as plt
titanic_df.boxplot(column="Survived")#particularly implemented
plt.show()

In [35]:
titanic_df.Embarked.value_counts()
#useful when categorical variation is taken into consideration

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [36]:
titanic_df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [38]:
titanic_df.Embarked.unique() #it gives unique values
titanic_df.Embarked.nunique() #it gives no. of unique values

3

In [39]:
titanic_df.Age.std()
# it gives the standard deviation of the values

14.526497332334042

In [ ]:
# continuous-Numerical--->describe()
# Describe-Numerical,Categorical--->value_count(),crosstab(),unique().


**PassengerId**: A unique identifier for each passenger.

**Survived**: This column indicates whether the passenger survived or not.

* 0 = Did not survive
* 1 = Survived  

**Pclass (Passenger Class)**: The class of the ticket the passenger purchased.

- 1 = First class
- 2 = Second class
- 3 = Third class

**Name**: The passenger's name.

**Sex**: The gender of the passenger.

* Male
* Female

**Age**: The age of the passenger. This is a numeric column representing the passenger's age.

**SibSp (Siblings/Spouses Aboard)**: The number of siblings or spouses the passenger had aboard the Titanic.

**Parch (Parents/Children Aboard)**: The number of parents or children the passenger had aboard the Titanic.

**Ticket**: The ticket number.

**Fare**: The fare the passenger paid for the ticket.

**Cabin**: The cabin number where the passenger stayed. This column may have missing values.

**Embarked**: The port where the passenger boarded the Titanic.

* C = Cherbourg
* Q = Queenstown
* S = Southampton

In [40]:
titanic_df.Cabin.nunique()

147

In [ ]:
titanic_df["Cabin"].value_counts()

In [ ]:
titanic_df['Age'].value_counts()

In [ ]:
titanic_df['Sex'].value_counts()

In [ ]:
titanic_df['Pclass'].value_counts() #1st,2nd,3rd class is the output

In [45]:
titanic_df.Pclass.unique()

array([3, 1, 2])

In [46]:
titanic_df.Sex.value_counts()/len(titanic_df)*100
#Typical percentage (for variable) of male and female

male      64.758698
female    35.241302
Name: Sex, dtype: float64

In [47]:
titanic_df.Survived.value_counts()/len(titanic_df)*100

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [ ]:
?pd.crosstab

In [ ]:
#Allows to compare two categorical variables
pd.crosstab(titanic_df['Pclass'],titanic_df['Survived'])
#0 is dead(not survived) and 1(survived) is alive in 1st,2nd,3rd class
#Pclass=Passenger class

In [ ]:
pd.crosstab(titanic_df['Sex'],titanic_df['Survived'])

In [ ]:
?pd.crosstab

In [55]:
pd.crosstab(titanic_df['Pclass'],[titanic_df['Sex'],titanic_df["Survived"]],
            values=titanic_df["Age"],aggfunc="min")
#This will give the total of 0's & 1's and 1st,2nd,3rd class passenger
#and total=891 1st class=216

Sex      female         male
Survived      0      1     0     1
Pclass
1           2.0  14.00  18.0  0.92
2          24.0   2.00  16.0  0.67
3           2.0   0.75   1.0  0.42

In [ ]:
titanic_df.columns

In [ ]:
#Subsetting the dataframe.
#1 Index position wise---> loc,iloc
#2 Conditional filtering---> condition

In [ ]:
titanic_df.loc[31:40:2,["Pclass","Sex","Age"]]
#this will give the record of 21 to 100

In [ ]:
titanic_df.info() # for showing column index number

In [ ]:
titanic_df.iloc[21:100,[3,5,2]]

In [ ]:
# filtering
# Passenger who have age greater than 60 & is male

df_agemorethan60=titanic_df[(titanic_df["Sex"]=="male") & (titanic_df["Age"]>60) &
                            (titanic_df["Fare"]>20)]

In [ ]:
df_agemorethan60

In [ ]:
df_agemorethan60.shape

In [ ]:
#Passenger whose age is less than 60 and are males and they survived
my_df=titanic_df[(titanic_df['Age']<60)&(titanic_df['Sex']=='male')&
                 (titanic_df['Survived']==1)]

In [ ]:
my_df

In [ ]:
my_df.shape

In [ ]:
#Passenger whose age is more than 60 and are female and they survived
my_df=titanic_df.loc[(titanic_df['Age']>60)&(titanic_df['Sex']=='female')&
                     (titanic_df['Survived']==1),["Age","Pclass","Survived"]]

In [ ]:
my_df

In [ ]:
my_df.shape

### Data Cleaning
Data cleaning means fixing messy data in your data set.As the machine learning model never accepts messy data ,so before model building you have to clean your messy data.

Messy data could be:

Empty cells  
Data in wrong format  
Wrong data  
Duplicates

In [ ]:
# Treating the missing values.
print((titanic_df.isnull().sum()/len(titanic_df))*100)

In [ ]:
titanic_df.isna().sum()

In [ ]:
print(titanic_df[['Age','Cabin','Pclass']].isnull().sum())

In [ ]:
# it will give the descending order
print(titanic_df.isnull().sum().sort_values(ascending=False))

In [ ]:
# drop vs dropna

In [ ]:
# Dropna it used to when total missing data is less than 15%
titanic_df_1=titanic_df.dropna()

In [ ]:
titanic_df_1.shape # output (183,11)

In [ ]:
titanic_df=titanic_df.drop(['Ticket','Fare'],axis=1)
titanic_df.head()

In [ ]:
half_count= len(titanic_df)/2
print(half_count)

In [ ]:
titanic_df.isnull().sum()

In [ ]:
titanic_df=titanic_df.dropna(thresh=half_count,axis=1)
print(titanic_df.isnull().sum())

titanic_df.shape

In [ ]:
titanic_df_1=titanic_df.dropna(subset=["Embarked"])
titanic_df_1.shape
titanic_df_1

In [ ]:
# Logic similar to AND operator
titanic_df_2=titanic_df.dropna(how="all",subset=["Age","Embarked"])
titanic_df_2.shape

In [ ]:
print(titanic_df_2.isnull().sum())

In [ ]:
# Logic similar to OR operator
titanic_df_1=titanic_df.dropna(how="any",subset=["Age","Embarked"])
titanic_df_1.shape

In [ ]:
print(titanic_df_1.isnull().sum())

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
titanic_df

In [ ]:
## Filling the missing data

titanic_df.fillna(value=0)

In [ ]:
titanic_df.fillna(value="No value")

In [ ]:
titanic_df.fillna(method='ffill')

In [ ]:
titanic_df.fillna(method='bfill')

In [ ]:
titanic_df['Embarked'].mode()

In [ ]:
titanic_df['Embarked'].value_counts()

In [ ]:
titanic_df['Embarked'].mode()[0]

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0],inplace=True)

In [ ]:
titanic_df.isnull().sum()

In [ ]:
titanic_df["Cabin"].mode()[0]

In [ ]:
titanic_df['Age'].mean() # ans is 29

In [ ]:
titanic_df['Age'].median()

In [ ]:
titanic_df['Age'].fillna(titanic_df['Age'].mean(),inplace=True)

In [ ]:
titanic_df

In [ ]:
titanic_df['Age'].fillna(round(titanic_df['Age'].mean(),0),inplace=True)
titanic_df

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
## duplicates
print(titanic_df.duplicated().sum())

In [ ]:
import seaborn as sns

data = sns.load_dataset("titanic")
data.duplicated().sum()
data.shape

In [ ]:
#Removing the duplicates from the data

titanic_df.drop_duplicates(inplace = True, keep="first")

In [ ]:
data.drop_duplicates(inplace=True,keep="first")
data.shape

In [ ]:
df1=pd.read_excel(r'C:\Users\admin\Downloads\Std1.xlsx',index_col=0, header=0)
df1

In [ ]:
df2=pd.read_excel(r'C:\Users\admin\Downloads\Std2.xlsx',index_col=0, header=0)
df2

### Merge combines dataframes based on values in shared columns. Merge function offers more flexibility compared to concat function because it allows combinations based on a condition.

In [ ]:
df3=pd.merge(df1["Name"],df2[["Subject","Scores"]],on="Id")
df3



inner-->will fetch the observations commonly
present in both the dataframes

left-->will fetch all the observations
present in the left df and map the corresponding obs from the right df

right-->will fetch all the observations
present in the right df and map the corresponding obs from the left df

outer-->will fetch all the obs from both the dfs and
map the obs wherever possible, else impute missing values

In [ ]:
df3=pd.merge(df1["Name"],df2[["Subject","Scores"]],on="Id",how="right")
df3

In [ ]:
df3=pd.merge(df1,df2,how="outer")
df3

In [ ]:
?pd.merge

In [ ]:
df3=pd.merge(df1["Subject"],df2[["Name","Scores"]],on="Id",how="right",indicator=True)
df3

In [ ]:
?df3.sort_values

In [ ]:
df3=df3.sort_values(by=["Name"])
df3

### Concat function concatenates dataframes along rows or columns. We can think of it as stacking up multiple dataframes.

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3 = pd.concat([df1,df2[["Name","Subject"]]],axis=0)
df3

In [ ]:
df3.duplicated().sum()

In [ ]:
df3 = pd.concat([df1,df2],axis=1)
df3

In [ ]:
df3.columns

In [ ]:
import pandas as pd
titanic_df=pd.read_excel(r'C:\Users\admin\Downloads\Titanic_Survival_Train.xls',header=0,index_col=0)
titanic_df

In [ ]:
# It is used to summarize and aggregate data inside dataframe
titanic_df.pivot_table(index=["Pclass","Sex"],values="Fare",
                      columns="Survived",aggfunc='max',margins=True,
                margins_name="Max")

In [ ]:
titanic_df.groupby(["Pclass","Embarked"])["Fare"].max()

In [ ]:
titanic_df.groupby(["Pclass","Sex","Survived"])["Age"].min()

In [ ]:
titanic_df

In [ ]:
df=titanic_df.applymap(lambda s:s.capitalize().strip() if type(s)==str else s)
df.head()

In [ ]:
df=titanic_df.applymap(lambda s:s.upper().strip()if type(s)==str else s)
df.head()